/vendor
/system
/tests
/composer.lock
.idea
certs


ormroot/build/classes/ormroot/map
ormroot/build/classes/ormroot/om
ormroot/build.properties
ormroot/buildtime-conf.xml
ormroot/runtime-conf.xml
ormroot/build/sql
ormroot/current.sql


application/third_party/stripe
application/third_party/phpunit
application/third_party/unirest
application/third_party/phpass
application/third_party/shrinksafe
application/errors
application/dev_files
application/config
application/core
application/cache

webroot/.sass-cache
webroot/css
webroot/js
webroot/fonts
webroot/images
webroot/temp
webroot/index.php

composer.phar
update.sql
correctdonate.sql